<!-- Kudos -->
<div class="row ff-body">
  <div class="col-6">
    <form [formGroup]="kudosForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Kudos</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            What is a <a href="https://gitcoin.co/kudos" target="_blank">Kudos</a>? Well, it's a way of showing your
            appreciation for another Gitcoin member. It's a commemorative, digital asset connected to a <a
              href="https://eips.ethereum.org/EIPS/eip-721" target="_blank">non-fungible token</a> on the Ethereum
            blockchain, a type of virtual souvenir. To receive the Fugue Foundation Kudos, you need to first complete
            the <a href="https://gitcoin.co/quests/376/effective-altruism" target="_blank">Effective Altruism Quest</a>,
            a fun, gamified way to learn about the
            web3 ecosystem, compete with your friends, and earn rewards!
          </p>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="col-6">
    <img id="kudosImg" src="./assets/images/kudos.svg" alt="FF Kudos" />
  </div>
</div>
<!--end row-->

<!-- LeaderBoard -->
<div class="row ff-body">
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Leader Board</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <h3>Top Donors</h3>
          <ul *ngFor="let a of lb.donor; let i = index">
            <li>{{lb.donor[i]}}: {{lb.donorAmount[i]}} ETH</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Leader Board</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <h3>Top Recipients</h3>
          <ul *ngFor="let b of lb.nonprofit; let i = index">
            <li>{{lb.nonprofit[i]}}: {{lb.nonprofitAmount[i]}} ETH</li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--end row-->
<!-- DONATION Form-->
<div class="row">
  <div class="col-6">
    <form [formGroup]="eventForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Select Event</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Events</mat-label>
            <mat-select #eventSelected formControlName="eventName">
              <mat-option *ngFor="let e of events; index as i;" value={{i}}>{{e.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button class="ff-red-button" [disabled]="!eventForm.valid"
              (click)="onEventSelected(eventSelected.value)">Select</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div><!-- end col-->
  <div class="col-6">
    <div *ngFor="let e of eventData; index as i;">
      <ul *ngIf="eventData">
        <li>Amount: {{e.amount}}</li>
        <li>Evaluator ID: {{e.evaluatorID}}</li>
        <li>Donated to: {{e.to}}</li>
        <li>Donor: {{e.donor}}</li>
        <li>DonationID: {{e.donationID}}</li>
        <li>{{e.tx}}</li>
        <li>{{e.timestamp}}</li>
      </ul>
    </div>
  </div><!-- end col-->
</div>

<!-- NFT -->
<div class="row">
  <div class="col-6">
    <form [formGroup]="nftForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>NFT Tx</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <input type="text" #nftTx matInput id="txHash" placeholder="Tx Hash" formControlName="hash">
            <mat-error *ngIf="nftForm.invalid">{{formErrorMsg('hash')}}</mat-error>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button class="ff-red-button" (click)="createFugue(nftTx.value)"
              [disabled]="!nftForm.valid">Create</button>
          </mat-card-actions>
          <p>Example Hash: 0x97649e7644789c142b42f9b5cb07c95f814e0b15a88fdb673394</p>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="col-6">
    <span [style.color]="colors.hex1">Hex1</span> | <span [style.color]="colors.hex2">Hex2</span> | <span
      [style.color]="colors.hex3">Hex3</span> | <span [style.color]="colors.hex4">Hex4</span> | <span
      [style.color]="colors.hex5">Hex5</span>
    | <span [style.color]="colors.hex6">Hex6</span> | <span [style.color]="colors.hex7">Hex7</span> | <span
      [style.color]="colors.hex8">Hex8</span> | <span [style.color]="colors.hex9">Hex9</span> | <span
      [style.color]="colors.hex10">Hex10</span>
  </div>
</div>
<!--end row-->
<!-- VOTE Form-->
<div class="row">
  <div class="col-6">
    <form [formGroup]="eventVoteForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Election and Voter Audit</mat-card-title>
          <mat-card-subtitle>{{eventVoteDesc}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-form-field>
            <mat-label>Events</mat-label>
            <mat-select #eventVoteSelected formControlName="eventVoteName" (selectionChange)="updateVoteDesc($event.value)">
              <mat-option *ngFor="let e of eventVotes; index as i;" value={{i}}>{{e.name}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-actions>
            <button mat-raised-button class="ff-red-button" [disabled]="!eventVoteForm.valid"
              (click)="onEventVoteSelected(eventVoteSelected.value)">Select</button>
          </mat-card-actions>
        </mat-card-content>
      </mat-card>
    </form>
  </div><!-- end col-->
  <div class="col-6">
    <div *ngFor="let e of eventVotesData; index as i;">
      <ul *ngIf="eventVotesData">
        <li><a class="ff-link" href="{{e.tx}}" target="_blank">Transaction</a></li>
        <li>{{e.timestamp}}</li>
        <li *ngIf="e.date">Election deadline: {{e.date}}</li>
        <li *ngIf="e.electionID">Election ID: {{e.electionID}}</li>
        <li *ngIf="e.registeredAddr">Address: <a class="ff-link"
            href="https://ropsten.etherscan.io/address/{{e.registeredAddr}}" target="_blank">{{e.registeredAddr}}</a>
        </li>
        <li *ngIf="e.voter">Voter: {{e.voter}}</li>
        <li *ngIf="e.admin">Admin: {{e.admin}}</li>
        <li *ngIf="e.newVoterRequest">Request address: {{e.newVoterRequest}}</li>
        <li *ngIf="e.tokenID">NFT ID: {{e.tokenID}}</li>
        <li *ngIf="e.NFTissuedTo">Issued to: {{e.NFTissuedTo}}</li>
        <li *ngIf="e.addrVote">Voter: {{e.addrVote}}</li>
        <li *ngIf="e.vote">Proposal: {{e.vote}}</li>
        <li *ngIf="e.voteElectionID">Election ID: {{e.voteElectionID}}</li>
        <li *ngIf="e.addrChangedVote">Voter: {{e.addrChangedVote}}</li>
        <li *ngIf="e.changeVoteElectionID">Election ID: {{e.changeVoteElectionID}}</li>
        <li *ngIf="e.delegateFromAddr">Voter: {{e.delegateFromAddr}}</li>
        <li *ngIf="e.delegateToAddr">Delegate: {{e.delegateToAddr}}</li>
        <li *ngIf="e.delegateElectionID">Election ID: {{e.delegateElectionID}}</li>
        <li *ngIf="e.voteChanged">Proposal Changed To: {{e.voteChanged}}</li>
        <li *ngIf="e.voterRegisterAddr">Voter: {{e.voterRegisterAddr}}</li>
        <li *ngIf="e.voterRegisterElection">Election ID: {{e.voterRegisterElection}}</li>
      </ul>
      <hr>
    </div>
  </div><!-- end col-->
</div><!--end row-->