<div class="row ff-body">
  <div class="col-12">
    <p>
      The Fugue Foundation is actively developing a few open source projects, which combine together to create an
      Ethereum-based donation platform guided by the principles of <a
        href="https://www.effectivealtruism.org/">effective altruism</a>.
    </p>
    <p>When a user visits the decentralized application (dApp), the dApp queries a dataset of nonprofit organizations
      through an application programming interface (API) and populates four options. These options are charity
      evaluators (Give Well, 80,000 Hours, The Life You Can Save, and Animal Charity Evaluators), each based around a
      different issue (global poverty and well-being, helping women and girls, global health and COVID-19, and helping
      animals).</p>

    <p>Each grouping is a collection of nonprofit organizations identified by the charity evaluator for their track
      record of altruistic impact within the given area of concern. The user selects one of these evaluators, sees the
      corresponding nonprofits, and is given the option to research them further or proceed to the donation page. Think
      of each donation as a contribution to a charitable index fund. All donations are in <code>ether</code> (ETH),
      though we plan to incorporate ERC20 tokens soon such as DAI and USDC. Through the logic encoded in the smart
      contracts deployed the Ethereum blockchain, the donation is split evenly among the chosen nonprofits and the user
      is rewarded with a non-fungible token (NFT).</p>
  </div><!-- end col -->
</div><!-- end row -->
<div class="row ff-body">
  <div class="col-6">
    <div>
      <img src="./assets/images/ff-dapp-flow.jpg" alt="FF dApp Workflow" title="FF dApp Workflow" class="responsive">
    </div>
  </div><!-- end col -->
  <div class="col-6">
    <div>
      <img src="./assets/images/ff-donation-flow.jpg" alt="FF Donation Flow" title="FF Donation Flow"
        class="responsive">
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<div class="row ff-body">
  <div class="col-6">
    <h2>dApp</h2>
    <ul>
      <li>Angular 9</li>
      <li>Truffle / Solidity</li>
      <li>Open Zeppelin</li>
    </ul>
    <p>The angular frontend and the smart contract backend are being developed separately for now. However, the
      angular dapp does have services providing a functional Truffle/Web3 integration, which will make eventually
      combining the two together relatively simple.</p>
    <p>For the frontend, the focus is on improving functionality, improving UX/UI (Angular Material, and writing tests
      (Karma, Jasmine, Protractor).</p>
    <p>For the smart contract backend, <a href="https://www.trufflesuite.com/docs/truffle/overview">Truffle</a> is used
      to compile and deploy smart contracts based off excellent resources from <a
        href="https://docs.openzeppelin.com/contracts/2.x/">Open Zeppelin</a> and the <a
        href="https://gitcoin.co/kudos">Kudos</a> from Gitcoin. Specifically, there is an <code>ERC721</code> contract
      and a <code>PaymentSplitter</code> contract that work together, meaning that once a user makes a donation of a
      certain value, s/he will receive a unique edition of the Fugue Foundation NFT. <a
        href="https://www.blocknative.com/">Block Native</a> is also integrated to help make the <code>web3</code>
      experience as user friendly as possible. The focus currently is to build out a few of the methods to each contract
      to capture this functionality, and to write tests (in both Solidity and Javascript) to capture the intended
      behavior.</p>
    <ul>
      <li><em>Angular Frontend</em>: <a
          href="https://github.com/fuguefoundation/ff-dapp">https://github.com/fuguefoundation/ff-dapp</a></li>
      <li><em>Smart Contract Backend</em>: <a
          href="https://github.com/fuguefoundation/ff-contracts">https://github.com/fuguefoundation/ff-contracts</a>
      </li>
    </ul>
  </div><!-- end col -->
  <div class="col-6">
    <h2 id="api">API</h2>
    <ul>
      <li>MongoDB</li>
      <li>Node.js</li>
      <li>Javascript</li>
    </ul>
    <p>The RESTful API is meant to not only serve as the data source for the dapp, but also to grow as a resource for
      the entire effective altruism community. Over the coming months, we hope to get insight from charity evaluation
      experts on the best metrics and data structures to use in order to model the API into something that academics,
      altruists, journalist, data scientists, and others will want to use in their own projects.</p>
    <p>The API currently runs on Heroku in a dev environment. There are two primary objects - <code>nonprofits</code>
      and <code>evaluators</code> - each exposed through <code>GET</code>, <code>POST</code>, <code>PATCH</code>, and
      <code>DELETE</code> requests. In the short term, the goal is to build out the API in a secure and efficient
      fashion. However, long term the key is to create datasets that make other organizations want to use this
      resource to further their own research goals.</p>
    <ul>
      <li><em>API repo</em>: <a
          href="https://github.com/fuguefoundation/ff-api">https://github.com/fuguefoundation/ff-api</a></li>
      <li><em>Docs</em>: <a
          href="https://fuguefoundation.org/docs/api-docs.html">https://fuguefoundation.org/docs/api-docs.html</a>
      </li>
    </ul>
  </div><!-- end col -->
</div><!-- end row -->