<mat-spinner
    *ngIf="!evaluators"
    class="example-margin"
    [color]="spinnerColor">
</mat-spinner>
<mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)" *ngIf="evaluators">
    <a *ngFor="let evaluator of evaluators.evaluators" class="col-1-4"
    routerLink="/evaluators/{{evaluator._id}}">
        <mat-grid-tile [style.background-image]="'url('+ evaluator.image +')'">
        <!-- <mat-grid-tile [style.background]="evaluator.color"> -->
            <div class="example-ripple-container mat-elevation-z4"
                matRipple
                [matRippleCentered]="centered"
                [matRippleDisabled]="disabled"
                [matRippleUnbounded]="unbounded"
                [matRippleRadius]="radius"
                [matRippleColor]="color">
                <h2>{{evaluator.name}}</h2>
            </div>
            <mat-grid-tile-header>
                <h3>{{evaluator.focus}}</h3>
            </mat-grid-tile-header>
        </mat-grid-tile>
    </a>
</mat-grid-list>
<!-- <app-data></app-data> -->