/* Structure */
table {
  width: 100%;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
th.mat-sort-header-sorted {
  color: black;
}

/* orgsComponent's private CSS styles */
.orgs {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.orgs li {
  position: relative;
  cursor: pointer;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0;
  height: 1.6em;
  border-radius: 4px;
}

.orgs li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}

.orgs a {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  width: 250px;
}

.orgs a:hover {
  color:#607D8B;
}

.orgs .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
table a {
    color: #b31121;
}
