
label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
table a {
    color: #b31121;
}
td.mat-cell {
    padding: .7%;
    font-size: 1.1em;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-size: cover;
}