<button mat-raised-button (click)="goBack()">
  <mat-icon>navigate_before</mat-icon>Back
</button>
<button mat-raised-button class="ff-red-button" (click)="connectWallet(false)">Connect Wallet</button>
<button mat-raised-button class="ff-red-button" (click)="connectWallet(true)">Change Wallet</button>

<br>
<div class="row">
  <div class="col-6" *ngIf="orgs">
    <p>You chose <strong>{{evaluator.name}}</strong> as your evaluator to aid with
      <strong>{{evaluator.focus}}</strong></p>
    <p>Your donation will be split evenly among the following charities:</p>
    <p><span *ngFor="let o of orgs"><strong>{{o.name}}</strong> | </span></p>
  </div>
  <div class="col-6" *ngIf="walletState">
    <h3>Wallet State</h3>
    <ul>
      <li>Address: {{walletState.address}}</li>
      <li>Network: {{networkName}}</li>
      <li>Balance: {{walletState.balance}}</li>
      <li>Wallet: {{walletState.wallet.name}}</li>
      <li>Mobile: {{walletState.mobileDevice}}</li>
    </ul>
  </div>
  <div class="col-6" *ngIf="!walletState">
    <h3>Please Connect a Web3 Wallet</h3>
  </div>
</div><!-- end row -->
<div class="row">
  <div class="col-6">
    <form [formGroup]="donationForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Make Donation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-slider thumbLabel [disabled]="sliderDisabled" [tickInterval]="false" [(ngModel)]="sliderValue" 
          [ngModelOptions]="{standalone: true}" tickInterval=".1" step=".1" min=".1" max="1"></mat-slider>
          <div></div>

          <mat-form-field>
            <input type="number" matInput value="{{this.sliderValue}}" #ethAmount placeholder="Convert ETH to Wei">
          </mat-form-field>
          <button mat-raised-button (click)="convertETHToWei(ethAmount.value)">Convert</button>

          <mat-form-field>
            <input type="number" #donationAmount matInput id="amount" placeholder="Amount to donate (in wei)"
              formControlName="amount" value="{{this.valueInWei}}">
            <mat-error *ngIf="donationForm.invalid">{{formErrorMsg('amount')}}</mat-error>
          </mat-form-field>
          <button mat-raised-button class="ff-red-button" (click)="donate(donationAmount.value)"
            [disabled]="!donationForm.valid || !walletState">Donate</button>
          <section class="checkbox-section">
            <mat-checkbox #checkBox formControlName="checkBox">Acknowledge <a
                href="https://fuguefoundation.org/legal#terms" target="_blank" class="ff-link">Terms of Service</a>
            </mat-checkbox>
          </section>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="col-6">
    <p *ngIf="tx"><strong>Transaction: </strong><a class="ff-link" href="https://goerli.etherscan.io/tx/{{tx.hash}}"
        target="_blank">View on Etherscan</a></p>
  </div>
</div>
<!--end row-->