<button mat-raised-button (click)="goBack()">
  <mat-icon>navigate_before</mat-icon>Back
</button>
<br>
<div class="row">
  <div class="col-6" *ngIf="orgs">
    <p>You chose <strong>{{evaluator.name}}</strong> as your evaluator to aid with
      <strong>{{evaluator.focus}}</strong></p>
    <p>Your donation will be split evenly among the following charities:</p>
    <p><span *ngFor="let o of orgs"><strong>{{o.name}}</strong> | </span></p>
  </div>
  <div class="col-6" *ngIf="walletState">
    <h3>Wallet State</h3>
    <ul>
      <li>Address: {{walletState.address}}</li>
      <li>Network: {{networkName}}</li>
      <li>Balance: {{walletState.balance}}</li>
      <li>Wallet: {{walletState.wallet.name}}</li>
      <li>Mobile: {{walletState.mobileDevice}}</li>
    </ul>
    <p *ngIf="tx"><strong>Transaction: </strong><a class="ff-link" href="https://goerli.etherscan.io/tx/{{tx.hash}}"
        target="_blank">View on
        Etherscan</a></p>
  </div>
  <div class="col-6" *ngIf="!walletState">
    <h3>Detecting Wallet</h3>
  </div>
</div><!-- end row -->
<div class="row">
  <div class="col-6">
    <form [formGroup]="donationForm">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Make Donation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-button-toggle-group #buttonToggle="matButtonToggleGroup">
            <mat-button-toggle value=".01" aria-label="Small donation">
              .01
            </mat-button-toggle>
            <mat-button-toggle value=".1" aria-label="Medium donation">
              .1
            </mat-button-toggle>
            <mat-button-toggle value="1" aria-label="Large donation">
              1
            </mat-button-toggle>
            <mat-button-toggle value="10" aria-label="Huge donation">
              10
            </mat-button-toggle>
          </mat-button-toggle-group>
          <div class="example-selected-value">Selected value: {{buttonToggle.value}}</div>
          <mat-form-field>
            <input type="number" #donationAmount matInput id="amount" placeholder="Amount to spend (in wei)"
              formControlName="amount" value="{{buttonToggle.value}}">
            <mat-error *ngIf="donationForm.invalid">{{formErrorMsg('amount')}}</mat-error>
          </mat-form-field>
          <button mat-raised-button class="ff-red-button" (click)="donate(donationAmount.value)"
            [disabled]="!donationForm.valid || !walletState">Donate</button>
        </mat-card-content>
      </mat-card>
    </form>
  </div>
  <div class="col-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Convert ETH to Wei</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <input type="number" matInput #ethAmount placeholder="Amount (in ETH)">
        </mat-form-field>
        <button mat-raised-button (click)="convertETHToWei(ethAmount.value)">Convert</button>
        {{valueInWei}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--end row-->