<button mat-raised-button class="back-button" (click)="goBack()">
  <mat-icon>navigate_before</mat-icon>Back
</button>
<div class="row">
  <div class="col-6" *ngIf="org">
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ org.logo +')'">
        </div>
        <mat-card-title>{{org.name | uppercase}}</mat-card-title>
        <mat-card-subtitle>Evaluator: {{org.evaluatorId.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{org.image}}" alt="{{org.name}}">
      <mat-card-content>
        <p>
          {{org.short_desc}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a mat-raised-button href="{{org.url}}" target="_blank" title="{{org.name}}">Homepage</a>
        <a mat-raised-button class="ff-red-button" href="{{org.evaluatorId.url}}" target="_blank"
          title="{{org.evaluatorId.name}}">EA</a>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-6 large-para-text" *ngIf="org">
    <h2>About {{org.name}}</h2>
    <p>{{org.desc}}</p>
    <h2>Donation Impact</h2>
    <p>{{org.stats.metric1}}</p>
  </div>
</div>
